

    <ion-header-bar class="bar-royal" style="font-size:200%">hira</ion-header-bar>
<ion-content class="padding">
    <div class="padding">
</div>
    
    </ion-content>   
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
          <i class="icon ion-edit"></i>
        <input type="text" placeholder="Type your message" on-return="sendMessage()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
     
